{% extends "include/main.html" %}
{% block content %}
    {% if email %}
        Welcome {{ name }}
        <form method="GET" action="/logout/">
            {% csrf_token %}
            <button type="submit" id="logout_btn" name="logout_btn">sign out
            </button>
        </form>
    {% else %}
        <form method="GET" action="/login/login/google-oauth2/">
            {% csrf_token %}
            <input id="next" name="next" value="{{ request.get_full_path }}"
                   style="display: inline"/>
            <button type="submit" id="login_btn" name="login_btn">sign in
            </button>
        </form>
    {% endif %}
{% endblock %}